body{
    background-color: rgb(74, 168, 241);
    font-family: 'Arvo', serif;
}
h1{
    color: pink;
    text-align: center;
    font-size: 80px;
    margin: 20px;
    padding: 10px;
}
h2{
    color: pink;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
}
li{
    color:black;
    font-size: 22;
    padding: auto;
}
p{
    color: pink;
    text-align: center;
    font-size: 22px;
    margin: 20px;
    padding: 10px;
}
